#slides {
    display: none;
}

section {
    font-family: "Source Sans Light", helvetica, arial, sans-serif;
    font-size: 2.2rem;
    margin: 0;
    padding: 0;
    color: white;
    clear: both;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: hidden;
    background-repeat:no-repeat !important;
    background-size:cover !important;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

section h1,
section h2,
section h3,
section p {
    text-align: center;
}

section.white {
    background: #ffffff;
}

section h1,
section h2,
section h3 {
    color: white;
    margin: 0;
    padding: 0;
}

section.white,
section.white h1,
section.white h2,
section.white h3
{
    color: white;
}

section h1 {
    font-size: 2rem;
    font-weight: 500;
    /*padding-bottom: 1rem;*/
    /*text-transform: uppercase;*/
}

section h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

section h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

section ul {
    list-style: disc;
}

section ol {
    list-style: decimal !important;
}

section ul,
section ol {
    text-align: left;
    padding-left: 1.5rem;
}

section li {
    padding: .1rem 0;
    font-size: 1rem;
}

section .small-text {
    font-size: .8rem;
}

.horizontal {
    display: -webkit-flex;
    display: flex;
}

.horizontal>* {
    -webkit-flex: 1;
    flex: 1;
}

.small-text {
    font-size: .8rem;
}

#audience-pic {
    width: 240px;
    height: 180px;
    border: solid 1rem #efefef;
    display: block;
    margin: 0 0 1rem 0;
}

.speaker-info {
    text-align: right;
}

.speaker-info i {
    width: 2.5rem;
    text-align: center;
}

.speaker-info p {
    text-align: left;
}

section pre,
section xmp {
    font-size: .8rem !important;
    background: #eee8d5;
    border:solid 1px #eeeeee;
    padding:1rem;
    line-height: 1.2rem;
}

section pre.small,
section xmp.small {
    border: none;
    font-size: .5rem !important;
    line-height: 1rem;
}

img {
    max-width: 100%;
    max-height: 75%;
}

textarea {
    width: 100%;
    height: 100px;
    border: solid 1px #ddd ;
    border-radius: 0;
    margin: 0px;
    -webkit-appearance: none;
    font-size: 1rem;
    font-family: 'Menlo', 'Courier New', 'Courier';
    -webkit-overflow-scrolling:touch !important;
    line-height: 1.1rem;

}

@media all and (min-width: 800px) {

    body {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    section pre,
    section xmp {
        font-size: 2rem !important;
        line-height: 2.4rem;
        padding: 2rem;
    }

    section pre.small,
    section xmp.small {
        font-size: 1.6rem !important;
        line-height: 2rem;
        padding:1rem 1.3rem;
        margin-left: 1.8rem;
        margin-top: 1rem;
        border: solid;
    }

    .small-text {
        font-size: 1rem;
    }

    #audience-pic {
        width: 720px;
        height: 540px;
        border: solid 16px #efefef;
    }

    section h1 {
        font-size: 4rem;
        /*padding-bottom: 2rem;*/
    }

    section h2 {
        font-size: 3rem;
    }

    section h3 {
        font-size: 2.5rem;
    }

    section td {
        font-size: 2rem;
    }

    section .box {
        margin:12px  !important;
        padding:40px 0  !important;
        font-size: 2rem !important;
    }

    .speaker-info i {
        width: 4rem;
        text-align: center;
    }

    section p {
        margin: 2rem;
        font-size: 2.2rem;
        line-height: 2.6rem;
    }

    section {
        padding: 1.5rem 5rem;
    }

    section li {
        padding: 1rem 0;
        font-size: 2.2rem;
    }

    textarea {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    section ol,
    section ul {
        padding-left: 3rem !important;
    }

    section .medium-text {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    td {
        font-size: 2rem;
    }

}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
}

td {
    border: solid 1px #aaa;
    width: 20rem;
    padding: 1rem;
    text-align: center;
}

td:first-child {
    text-align: left;
}

#wrapper {
    width: 100%;
    min-width: 320px;
    height: 100%;
}

#swipeview-slider > div {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    /*display: -ms-box;*/
    /*display: -o-box;*/
    /*display: box;*/
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -mox-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    overflow: hidden;
}

.topcoat-spinner,
#wrapper > div > .swipeview-loading {
    background: url("../image/spinner.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: spinner 1s infinite linear;
    height: 36px;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

#wrapper > div > .swipeview-loading .slide {
    opacity: 0;
}

#menu {
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 100%;
    width: 250px;
    font-size: 1rem;
    border-left: solid 1px #888;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    display: flex;
    flex-direction: column;
    display: -webkit-box; /* iOS */
    -webkit-box-orient: vertical; /* iOS */
}

#menu .title {
    padding: 8px;
    color: #ffffff;
    font-size: 24px;
    background: url("../image/process.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 70px;
    margin: 6px;
}

#menu-btn {
    /*position: absolute;*/
    /*top: 8px;*/
    /*right: 8px;*/
    /*z-index: 20;*/
}

#menu.visible {
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    flex: 1;
    -webkit-box-flex: 1;
}

.scroller > ol {
    list-style-position: inside;
}

.scroller > ol > li {
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
}

.scroller > ol > li > a {
    display: block;
    padding: 16px;
}

.scroller li:active {
    background-color: black;
}

.build {
    opacity: 0;
}
.built {
    opacity: 1;
}

section .padding-top {
    padding-top: 2rem;
}

.medium-text {
    font-size: 0.9rem;
    line-height: 1rem;
}

td {
    font-size: 1rem;
}

section .box {
    border: solid 1px #FFFFFF;
    margin:2px;
    text-align: center;
    padding:12px 0;
    font-size: 1rem;
}